.app-main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr minmax(20%, 260px);
  grid-template-rows: 70px 1fr;
}
.top-bar {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr minmax(20%, 260px);
}
.top-bar .save-btn-wrapper {
  grid-column: 2/3;
  display: flex;
}
.top-bar .save-btn-wrapper .save-btn {
  margin: auto;
}
.react-flow-wrapper {
  flex-grow: 1;
  /* width: 80%; */
  height: 100%;
}

.side-panel-wrapper {
  /* width: 20%; */
  background-color: rgb(223, 255, 40);
  /* max-width: 260px; */
}
